# More details here : https://orchestrator.abstract.money/contracts/env-variable.html

# STATE_FILE="<absolute_path_to_this_directory>/contracts/minter/state.json".
# This is optional. If not specified, creates a file at `~/.cw-orchestator/state.json`
STATE_FILE="/root/abstract/cw-orch-workshop/contracts/minter/state.json"
TEST_MNEMONIC="clip hire initial neck maid actor venue client foam budget lock catalog sweet steak waste crater broccoli pipe steak sister coyote moment obvious choose"
RUST_LOG=info